<!DOCTYPE html>
    <html lanf="en">
        <head>
            <style>
                h1 {text-align: center;
                    color:rgb(157, 112, 199)}
                div {text-align:center;
                    background-color:red;}
            </style>
            <meta charset="UTF-8">
            <title>My Lovely Website</title>
        </head>
        <body style="background-color:rgb(228, 212, 241);">
            <h1>Click the Button</h1>
            <div>
                <h2>Click Me!</h2>
            </div>
        </body>
    </html>
